.card {

    min-height: 300px;
    min-width: 280px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    max-width: calc(100% - (2*var(--margin)));

}

@media (max-width: 1200px) {
    .card {

        max-width: 100%;
        min-width: auto;
    }

}